process {
    withLabel: full_cpu_mem {
        cpus = 40
        memory = 120.GB
        queue = 'batch'
    }
    withLabel: half_cpu_mem {
        cpus = 20
        memory = 60.GB
        queue = 'batch'
    }
    withLabel: quarter_cpu_mem {
        cpus = 10
        memory = 30.GB
        queue = 'batch'
    }
    withLabel: sixth_cpu_mem {
        cpus = 8
        memory = 24.GB
        queue = 'batch'
    }
    withLabel: eighth_cpu_mem {
        cpus = 5
        memory = 15.GB
        queue = 'batch'
    }
    withLabel: twentieth_cpu_mem {
        cpus = 2
        memory = 6.GB
        queue = 'batch'
    }
}

params {
    full_threads = 40
    half_threads = 20
    quarter_threads = 10
    eighth_threads = 5
    twentieth_threads = 2
    full_javamem = "-Xmx120g"
    half_javamem = "-Xmx60g"
    quarter_javamem = "-Xmx30g"
    twentieth_javamem = "-Xmx5g"
}

process.module = [ 'sratoolkit/2.9.1',
                   'jdk/1.8.0_131',
                   'bbmap/37.17',
                   'samtools/1.8',
                   'cramtools/3.0',
                   'picard/2.18.1',
                   'fastQC/0.11.5',
                   'pigz/2.3.4',
                   'STAR/2.5.3a',
                   'bwa/0.7.15',
                   'subread/1.6.0',
                   'kallisto/0.43.1',
                   'R/3.4.0',
                   'python/3.6.1']
